<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Brixchat API" stopProcessing="true">
          <match url="^(api(?:/.*)?|webhooks(?:/.*)?|health(?:/.*)?)$" />
          <action type="Rewrite" url="http://127.0.0.1:4400/{R:0}" />
        </rule>
        <rule name="Brixchat Web" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="http://127.0.0.1:3300/{R:1}" />
        </rule>
      </rules>
    </rewrite>
    <httpErrors existingResponse="PassThrough" />
    <urlCompression doStaticCompression="false" doDynamicCompression="false" />
  </system.webServer>
</configuration>
